.container{
   
	 background-image:url('../../img/1593975243836.jfif'); 
	background-color: bisque;
	background-attachment: fixed ; 
	background-size:cover;
    background-repeat:no-repeat;
	max-width: 100vw;
	min-height: 50vh;
	max-height: 170vh;;
	
}
