.countryCard{
	
    margin: 30px auto;
	margin-top: 0px;
    margin-left: -19px;
    width: 170px;
	height: 200px;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	transition: 0.8s;
	background-color:rgba(225, 229, 243, 0.555);
    display: flex;
	align-items:flex-end;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap: wrap;
	
}

.countryCard img {
	width: 90px;
	height:50px;
	
}

.container{
    padding: 0.9rem 0.4rem 0.4rem ;
	width: 100%;
	display: flex;
	flex-flow:row;
	justify-self:flex-end;
	align-items:flex-end;
	justify-content:space-around;
	position:fixed;
}

/*  .countryCard h3{
font-family: 'Courier New', Courier, monospace;
margin-left: 20px;
margin-top:-25px;

}
.countryCard p{
	font-size: 12px;
	margin-left: 25%;
	margin-top: 15%;
	
} */
.wrapper{
	display:flex;
	flex-direction:row;
}