.countryCard{
	
    margin: 30px auto;
	margin-top: 10px;
    margin-left: 0px;
    width: 20%;
	height: 30%;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	transition: 0.8s;
	background-color:rgba(221, 208, 208, 0.5);
    display: flex;
	align-items:center;
	justify-content: space-between;
	flex-direction:row;
	flex-wrap: wrap;
   
}

.countryCard img {
	width: 100px;
	height:90px;
	
}

.container{
    padding: 0.9rem 0.4rem 0.4rem ;
	width: 100%;
	display: flex;
	flex-flow:row;
	justify-self:flex-end;
	align-items:flex-end;
	justify-content:space-around;
	position:fixed;
}

.card h3{
font-family: 'Courier New', Courier, monospace;
}
.card p{
	font-size: 12px;
	margin-left: 0px;
	display: flex;
	align-items:flex-end;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap: wrap;
}