.container{
    background-image:url('../../img/trekking-activity.jpg.crdownload');
    background-size:cover;
    background-repeat:round;
    height: 625px;
}

.form{
    margin: 30px auto;
	margin-top: 130px;
    margin-left: 450px;
    width: 30%;
	height: 60%;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	transition: 0.8s;
	background-color:rgba(182, 153, 153, 0.5);
    display: flex;
	align-items:center;
	justify-content: space-between;
	flex-direction:column;
	flex-wrap: wrap;
   position:fixed;
}
.elements{
    display: flex;
	align-items:center;
    flex-direction:column;
    align-items:center;
    justify-content: space-between;
}
.countrySelector{
    width:250px;
}

.searchActivity{
    width: 200px;
    height: 30px;
    background: #dee2eb;
    border: none;
    font-size: 10pt;
    float: left;
    color: #63717f;
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}

.btn{
    width: 130px;
    height: 30px;
    background-color:rgba(221, 208, 208, 0.5);
    border: 15px;

    font-size: 10pt;
    float: left;
    color: rgba(78, 79, 151, 0.5);
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}