

.countryName{
	margin-top: 10px;
    margin: 30px auto;
    margin-left:80px;
	width: 55%;
	height: 300px;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.8s;
	min-height: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction:column;

}

.countryName img {
	width: 120px;

	height:100px;
	
}

.container{
    padding: 0.9rem 0.4rem 0.4rem ;
	width: 100%;
	display: flex;
	flex-flow:row;
	justify-self:flex-end;
	align-items:flex-end;
	justify-content:space-around;
}