

.countryName{
	margin-top: 0px;
    margin: 30px auto; 
    margin-left:465px;
	width: 25%;
	height: 400px;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	cursor: pointer;
	transition: 0.8s;
	background-color: rgba(15, 8, 54, 0.932);;
	color:white;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-direction:column;
	position:fixed;
}

.countryName img {
	width: 150px;
	height:100px;
	
}

.container{
    padding: 0.9rem 0.4rem 0.4rem ;
	width: 80%;
	display: flex;
	flex-flow:row;
	justify-self:flex-end;
	align-items:flex-end;
	justify-content:space-around;
}