.filters{
    display:flex;
    flex-direction:row;
    width:1500px;
    justify-content:right;
    
    
}
.select{
    appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
    display: inline-block;
	width: 100%;
	cursor: pointer;
  	padding: 7px 10px;
  	height: 42px;
  	outline: 0; 
  	border: 20%;
	
	background: #f0f0f0;
	color: #f30000;
	font-size: 1em;
	color: rgb(95, 90, 90);
	font-family: 
	'Quicksand',  Tahoma, sans-serif;
	border:2px solid rgba(8, 7, 7, 0.527);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.select select::-ms-expand{
    display:none;
}