.landing{
    background:url('../../img/planetita_mano.jpg');
    width: 1400px;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items:space-around;
    

}



.landingBtn{
    margin-left:-60px;
	margin-top:60px;
    width: 110px;
    height: 45px;
    background-color:rgba(255, 255, 255, 0.123);
    border: 3px solid;
	font-size: 20pt;
    float: left;
    color: rgba(112, 118, 129, 0.801);
    padding-left: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
	display:flex;
	flex-direction:row;
	justify-content:space-around;
	align-items:center; 
    cursor: pointer;




    /* text-decoration: none;
    color: rgb(14, 9, 9);
    font-family: sans-serif;
    font-size: 20px;
    border: 3px solid;
    padding: 20px 30px;
    transition: all .3s;
    border-radius: 500px;
    margin-left:-80px; */
  }
