.navBar{
    border-radius: 40px;
    width: 100%;
	background-color:rgba(91, 101, 138, 0.555);;
 

}

.search{
    margin-left:110px;
    margin-right:50px;
    margin-top: 10px;
    width: 1350px;
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-between;
}

.filters{
    width: 1530px;
    margin-left:70px;
    margin-right:50px;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
   justify-content:space-between;
   
}