.navBar{
    border-radius: 30px;
    width: 1367px;
	background-color:rgba(15, 8, 54, 0.623);/* rgba(91, 101, 138, 0.555);; */
 

}

.search{
    margin-left:15px;
    margin-top: 10px;
    width: 1320px;
    display:flex;
    flex-direction:row;
    align-items:center;
    flex-wrap:wrap;
    justify-content:space-between;
}



.filters{
    width: 1230px;
    margin-left:30px;
    margin-right:50px;
    display:flex;
    flex-direction:row;
    align-items: flex-start;
   justify-content:space-between;
   
}