.countryCard{
	
    
	margin-top: 0px;
    margin-left: 0px;
    width: 350%;
	height: 80%;
	border-radius: 10px;
    box-shadow: 5px 5px 3px 7px rgba(0,0,0,0.25), 5px 5px 3px 7px rgba(0,0,0,0.22);
	transition: 0.8s;
	background-color:rgba(197, 221, 231, 0.5);
	display: flex;
	align-items:center;
	justify-content: space-around;
	flex-direction:row;
	flex-wrap: wrap;
	
}

.countryCard img {
	width: 85px;
	height:50px;
	
}

.container{
    padding: 5%;
	width: 80%;
	margin-top: 0px;
	height: 100%;
	margin-left: 0px;
	display: grid;
	grid-template-columns: [first] 50px [line2] 50px [line3] 50px[col4-start] 50px [five] 50px [end];
	grid-template-rows: [row1-start] 55% [row1-end] 55% [third-line] 55% [last-line];
	justify-self:auto;
	align-items:center;
	justify-content:space-between;
	
}

.btn{
    width: 130px;
    height: 30px;
    background-color:rgba(58, 55, 230, 0.527);
    border: 5px;

    font-size: 10pt;
    float: left;
    color: rgba(7, 7, 10, 0.5);
    padding-left: 45px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 15px;
}

.searchContainer{
	margin-top: 20px;
	height:30px;
	width:1300px;
	display: flex;
	align-items:center;
	justify-content: space-around;
	flex-direction:row;
	
}